/*Тут пишем наш css-код*/
body.shrift {
    font-family: 'Roboto', sans-serif;
}
h1.zagol1 {
    margin-bottom: -2px;
}
a.ssilka {
    color: darkgrey;
    text-decoration: none;
}
h3.zagol3 {
    color: cornflowerblue;
    margin-bottom: -2px;
}
p.textbez {
    margin-bottom: -15px;
}
p.texts {
    text-decoration: underline;
}
h4.zagol4 {
    color: cornflowerblue;
    font-size: x-large;
    margin-bottom: 10px;
}
table.tabl {
    border: 1px solid lightgray;
    border-collapse: collapse;
    margin-bottom: 15px;
    display: table;
}
th.tablzag {
    border: 1px solid lightgray;
    border-collapse: collapse;
}
td.yach {
    border: 1px solid lightgray;
    color: red;
    text-transform: uppercase;
    border-collapse: collapse;
    text-align: center;
}
td.tablyach {
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding-left: 5px;
}
td.tablyach2 {
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: center;
}
.izo {
    padding: 10px;
    border: 2px solid gray;
    border-collapse: collapse;
    border-radius: 7px;
}

